*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    background-color: #0077ff;
    color: white;
    width: fit-content;
}

nav a{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    border-bottom: 1px solid white;
    transition: all 0.3s ease-in-out;
}

nav ul ul :hover{
    background-color: #0077ff;
    color: white;
}

nav .sistema{
    list-style: none;
    width: 50vh;
}

h1{
    text-align: center;
}
